<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Entidades</div>
  </ion-nav-buttons>
  <ion-content scroll="true" >
    <div class="row bloco-energized">
      <img src="img/codhab_branca.png" alt="" style="width: 100%;height: 30%;"/>
    </div>
    <div class="row bloco-home bloco-inicial">
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="app.oqueentidades">
            <span class="btn-codhab-icon ion-ios-help-outline "></span>
          </button>
            <span class="btn-texto">CONHEÇA O PROGRAMA</span>
        </div>
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="app.listaentidades">
            <span class="btn-codhab-icon ion-ios-list-outline "></span>
          </button>
            <span class="btn-texto">PESQUISAR</span>
        </div>
    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="app.agendamentoentidades">
          <span class="btn-codhab-icon ion-ios-clock-outline "></span>
        </button>
          <span class="btn-texto">AGENDAMENTO</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="app.manualentidades">
          <span class="btn-codhab-icon ion-ios-paper-outline "></span>
        </button>
          <span class="btn-texto">MANUAL DAS ENTIDADES</span>
      </div>
    </div>
   </ion-content>

</ion-view>
