<ion-view view-title="Entidades">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" >
    <div class="row bloco-home bloco-inicial">
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="tabs.oqueentidades">
            <!-- <span class="btn-codhab-icon ion-ios-help-outline "></span> -->
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </button>
            <span class="btn-texto">CONHEÇA O PROGRAMA</span>
        </div>
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="tabs.listaentidades">
            <!-- <span class="btn-codhab-icon ion-ios-list-outline "></span> -->
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </button>
            <span class="btn-texto">PESQUISAR</span>
        </div>
    </div>
    <!-- <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" href="#" onclick="window.open('http://www.codhab.df.gov.br/uploads/archive/files/70d08865ac1d996f2b0f1077d703f0b4.pdf', '_system', 'location=yes');">
          <span class="btn-codhab-icon ion-ios-paper-outline "></span>
        </button>
          <span class="btn-texto">MANUAL DAS ENTIDADES</span>
      </div> -->
      <!-- <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="tabs.agendamentoentidades">
          <span class="btn-codhab-icon ion-ios-list-outline "></span>
        </button>
        <span class="btn-texto">teste</span>
      </div> -->
    </div>


   </ion-content>

</ion-view>
