<ion-view view-title="Entidades">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Voltar
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content scroll="true">
    <form name="createForm" novalidate="novalidate" ng-submit="searchCPF(search)">
      <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Nome ou Siglas da entidade" name="search" id="search" ng-model="search.entidade" ng-required="true">
      </label>
      <button ng-show="!createForm.$error.required" ng-click="searchCPF(search)" style="font-weight:400" class="button button-energized button-small">
        PESQUISAR
      </button>
    </div>
  </form>
  <ion-list>
    <ion-item class="item-avatar item-icon-right item-icon-left" ng-repeat="dados in result" ui-sref="tabs.entidade({cnpj:dados.cnpj,lat:dados.lat,long:dados.long})">
      <i class="icon ion-ios-people-outline cor-clara"></i>
      <h2>{{dados.fantasy_name}}</h2>
      <p><strong>CNPJ: </strong>{{dados.cnpj}}</p>
    </ion-item>
  </ion-list>
      <div ng-hide="result.cpf" class="logo_interna_search">
        <img src="img/search.png" style="width:50%; margin: 0 auto; display:block;margin-bottom: 20px;"/>
        <p class="texto_interno_search marginz">
          Insira o nome ou sigla da entidade que deseja pesquisar.
        </p>
        <p class="texto_interno_search marginz">
          Os dados estão disponíveis para consulta pública.
        </p>
      </div>

    </ion-content>
</ion-view>
