<ion-view view-title="Noticias CODHAB">
  <ion-content class="padding">
    <ion-list class="list list-inset">
      <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="result in results" href="#/app/noticia/{{result.id}}">
        <img src="http://www.codhab.df.gov.br/{{result.thumbnail.url}}">
        <p>Criado em: {{result.created_at}}</p>
        {{result.title}}
        <p ng-bind-html="result.resume"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
