<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Noticias CODHAB</div>
  </ion-nav-buttons>
  <ion-content>
      <a class="destaque" ng-repeat="result in results_sliders | limitTo : 1" href="#/app/noticia/{{result.id}}" style="background-color:{{result.color}}">
        <div>
          <div class="img_destaque">
            <img src="http://www.codhab.df.gov.br/{{result.thumbnail.url}}"style="width: 100%;height: 30%;">
          </div>
          <div class="mymask" href="#/tab/noticia/{{result.id}}" >
            <h3 class="padding positive">{{result.title}}</h3>
            <p>{{result.created_at | date:"EEEE d 'de' MMMM 'de' y 'às' HH:mm"}}</p>
          </div>
        </div>
      </a>
    <ion-list class="list list-inset">
      <ion-item class="padding item item-thumbnail-left item-icon-right" ng-repeat="result in results | limitTo : 5" href="#/app/noticia/{{result.id}}">
        <img src="http://www.codhab.df.gov.br/{{result.thumbnail.url}}">
        <p>Criado em: {{result.created_at | date:"EEEE d 'de' MMMM 'de' y 'às' HH:mm"}}</p>
        {{result.title}}
        <p ng-bind-html="result.resume"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar >

<ion-tabs  class="tabs-icon-top tabs-codhab ">

<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.home">
  <!-- Tab 1 content -->
</ion-tab>

<ion-tab title="notícias" icon-on="ion-ios-world-outline" icon-off="ion-ios-world-outline" ui-sref="tabs.noticias">
  <!-- Tab 2 content -->
</ion-tab>

<ion-tab title="Leitor Qr Code" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ui-sref="tabs.scan">
  <!-- Tab 2 content -->
</ion-tab>

<ion-tab title="Atualização Cadastral" icon-on="ion-ios-loop" icon-off="ion-ios-loop" ui-sref="tabs.cadastro">
  <!-- Tab 3 content -->
</ion-tab>

</ion-tabs>
</ion-footer-bar>
</ion-view>
