<ion-view view-title="Agendamento">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear ion-arrow-left-c">Voltar</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" >
    <div class="row bloco-energized">
      <img src="img/codhab_branca.png" alt="" style="width: 100%;height: 30%;"/>
    </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="tabs.agendamentohabitacao">
          <span class="btn-codhab-icon ion-ios-clock-outline "></span>
        </button>
          <span class="btn-texto">AGENDAMENTO HABITAÇÃO</span>
      </div>

      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="tabs.agendamentoregularizacao">
          <span class="btn-codhab-icon ion-ios-clock-outline "></span>
        </button>
          <span class="btn-texto">AGENDAMENTO REGULARIZAÇÃO</span>
      </div>

    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="tabs.agendamentocarteira">
          <span class="btn-codhab-icon ion-ios-clock-outline "></span>
        </button>
          <span class="btn-texto">AGENDAMENTO CARTEIRA IMOBILIÁRIA</span>
      </div>

    </div>
  </ion-content>
</ion-view>
