<ion-view view-title="Agendamento">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" >
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="tabs.agendamentohabitacao">
          <span class="btn-codhab-icon ion-ios-clock-outline "></span>
        </button>
          <span class="btn-texto">AGENDAMENTO</br>HABITAÇÃO</span>
      </div>

      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="tabs.agendamentoregularizacao">
          <span class="btn-codhab-icon ion-ios-clock-outline "></span>
        </button>
          <span class="btn-texto">AGENDAMENTO</br>REGULARIZAÇÃO</span>
      </div>

    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="tabs.agendamentocarteira">
          <span class="btn-codhab-icon ion-ios-clock-outline "></span>
        </button>
          <span class="btn-texto">AGENDAMENTO</br>CARTEIRA IMOBILIÁRIA</span>
      </div>

    </div>
  </ion-content>
</ion-view>
