<ion-nav-bar class="bar-energized" >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="true">
    <div class="row bloco-energized">
      <img src="img/codhab_branca.png" alt="" style="width: 90%;height: 30%;" />
    </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.habitacao">
          <span class="btn-codhab-icon ion-ios-home-outline" style="margin: 5px 0 0 3px;"></span>
        </button>
        <span class="btn-texto">HABITAÇÃO</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.regularizacao">
          <span class="btn-codhab-icon ion-ios-paper-outline" style="margin: 6px 0 0 2px;"></span>
        </button>
        <span class="btn-texto">REGULARIZAÇÃO</span>
      </div>
    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.assistencia">
          <span class="btn-codhab-icon ion-ios-location-outline" style="margin: 6px 0 0 2px;"></span>
        </button>
        <span class="btn-texto">POSTOS DE ARQUITETURA</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.portal">
          <span class="btn-codhab-icon ion-ios-monitor-outline" style="margin-left: 3px; margin-top: 8px;"></span>
        </button>
        <span class="btn-texto">PORTAL</span>
      </div>

    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.noticias">
          <span class="btn-codhab-icon ion-ios-world-outline" style="margin: 8px 0 0 2px;"></span>
        </button>
        <span class="btn-texto">NOTÍCIAS</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.cadastro">
          <span class="btn-codhab-icon ion-ios-loop" style="margin: 7px 0 0 4px;"></span>
        </button>
        <span class="btn-texto">ATUALIZAÇÃO CADASTRAL</span>
      </div>
    </div>

  </ion-content>

</ion-view>
