<ion-view>
  <ion-content scroll="true">
    <div class="row bloco-energized">
      <img src="img/codhab_branca.png" alt="" style="width: 90%;height: 30%;" />
    </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="tabs.habitacao">
          <span class="btn-codhab-icon ion-ios-home-outline" style="margin: 5px 0 0 3px;"></span>
        </button>
        <span class="btn-texto">HABITAÇÃO</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="tabs.regularizacao">
          <span class="btn-codhab-icon ion-ios-paper-outline" style="margin: 6px 0 0 2px;"></span>
        </button>
        <span class="btn-texto">REGULARIZAÇÃO</span>
      </div>
    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="tabs.assistencia">
          <span class="btn-codhab-icon ion-ios-location-outline" style="margin: 6px 0 0 2px;"></span>
        </button>
        <span class="btn-texto">POSTOS DE ARQUITETURA</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="tabs.portal">
          <span class="btn-codhab-icon ion-ios-monitor-outline" style="margin-left: 3px; margin-top: 8px;"></span>
        </button>
        <span class="btn-texto">PORTAL</span>
      </div>

    </div>
    <!-- <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.noticias">
          <span class="btn-codhab-icon ion-ios-world-outline" style="margin: 8px 0 0 2px;"></span>
        </button>
        <span class="btn-texto">NOTÍCIAS</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.cadastro">
          <span class="btn-codhab-icon ion-ios-loop" style="margin: 7px 0 0 4px;"></span>
        </button>
        <span class="btn-texto">ATUALIZAÇÃO CADASTRAL</span>
      </div>
    </div> -->

  </ion-content>

</ion-view>
