<ion-nav-bar class="bar-energized" ng-init="addGeoLocation()">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="true" >
    <div class="row bloco-energized">
      <img src="img/codhab_branca.png" alt="" style="width: 100%;height: 30%;"/>
    </div>
    <div class="row bloco-home bloco-inicial">
        <div class="col col-50">
          <button class="button btn-nav-codhab" ui-sref="app.habitacao">
            <span class="btn-codhab-icon ion-ios-home-outline "></span>
          </button>
            <span class="btn-texto">HABITAÇÃO</span>
        </div>
        <div class="col col-50">
          <button class="button btn-nav-codhab" ui-sref="app.regularizacao">
            <span class="btn-codhab-icon ion-ios-paper-outline "></span>
          </button>
            <span class="btn-texto">REGULARIZAÇÃO</span>
        </div>
    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.entidades">
          <span class="btn-codhab-icon ion-ios-people-outline"></span>
        </button>
          <span class="btn-texto">ENTIDADES</span>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.assistencia">
          <span class="btn-codhab-icon ion-ios-location-outline"></span>
        </button>
          <span class="btn-texto">POSTOS DE ASSISTÊNCIA</span>
      </div>

    </div>
   </ion-content>

</ion-view>
