<ion-view view-title="Informações">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Voltar
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <img src="img/codhabv.png" alt="" style="width: 100%"/>

      <div class="copy-codhab"><a class="positive" ui-sref="tabs.faq">Perguntas Frequentes</a></div>
      <div class="copy-codhab"><a class="positive" ui-sref="tabs.terms">Termos de uso</a></div>
      <div class="copy-codhab"><a class="positive" onclick="cordova.InAppBrowser.open('http://www.ouvidoria.df.gov.br/', '_system');">Ouvidoria</a></div>
      <div class="copy-codhab"><a class="positive" href="mailto:suporte.app@codhab.df.gov.br">Problemas e Sugestões</a></div>
      <div class="copy-codhab"><a class="positive" ui-sref="intro">Intro</a></div>

      <br/>
      <div class="copy-codhab">Copyright © 2017 CODHAB. <br /> Versão: 2.1.4</div>
      <br/>
      <br/>
  </ion-content>
</ion-view>
