<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Bem Vindo</div>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged($index)">

    <ion-slide>
        <img src="img/tela1.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-menu1.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-menu2.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-menu3.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-Toque.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-Arraste.jpg">
    </ion-slide>

    <ion-slide>
        <h1 class="start-color">Vamos começar?</h1>
        <p>
          <h5 class="startTitle start-color">Ajude a CODHAB a melhorar seus dados, preencha com seu CPF para iniciar o aplicativo.</h5>
        </p>
        <form name="startForm">
          <div class="list list-inset">
            <label class="item item-input">
              <input class="start-color" name="cpf" ng-model="cpf" type="text" ng-cpf ui-mask="999.999.999-99" validate-cpf required  />
            </label>
          </div>
        </form>
        <p  class="start-color" ng-hide="startForm.cpf.$valid">
          Preencha com um CPF válido
        </p>
        <button ng-click="startApp(cpf)"ng-model="cpf" style="font-weight:400"class="button button-outline button-energized start-button" ng-show="startForm.cpf.$valid">
            INICIAR APLICATIVO
        </button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
