<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Bem Vindo</div>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged($index)">
    <ion-slide>
        <h1>Vamos começar?</h1>
        <h5>Ajude a CODHAB a melhorar seus dados, preencha com seu CPF para iniciar o aplicativo.</h5>
        <form name="myForm">

          <input name="cpf" ng-model="cpf" ng-cpf ui-mask="999.999.999-99" />
          myForm.cpf.$valid: {{ myForm.cpf.$valid }}

          <input name="cnpj" ng-model="cnpj" ng-cnpj ui-mask="99.999.999/9999-99" />
          myForm.cnpj.$valid: {{ myForm.cnpj.$valid }}

        </form>
        <button ng-click="startApp()"class="button button-outline button-energized">
            Iniciar Aplicativo
        </button>
    </ion-slide>
    <ion-slide>
        <img src="img/tela1.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-menu1.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-menu2.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-menu3.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-Toque.jpg">
    </ion-slide>
    <ion-slide>
        <img src="img/App-Arraste.jpg">
    </ion-slide>

  </ion-slide-box>
</ion-view>
