<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Postos de Assistência</div>
  </ion-nav-buttons>
  <ion-content scroll="true" >
  <ion-list>
    <ion-item class="item-avatar item-icon-right item-icon-left"
              ng-repeat="posto in postos"
              can-swipe="true" ui-sref="app.postos({id:posto.id,nome:posto.nome,endereco:posto.endereco,hora:posto.hora,coordenador:posto.coordenador,tel:posto.tel,email:posto.email,latitude:posto.latitude,longitude:posto.longitude})">
      <i class="icon ion-ios-location cor-clara"></i>
      <h2>{{posto.nome}}</h2>
      <p>{{posto.endereco}}</p>
      <i class="icon ion-ios-arrow-right"></i>
      <ion-option-button class="button-royal" ng-click="chamar({{posto.tel}})"><span class="list_button ion-ios-telephone"></span></ion-option-button>
      <ion-option-button class="button-calm" ng-click="email('{{posto.email}}')"><span class="list_button ion-ios-email"></span></ion-option-button>
    </ion-item>
  </ion-list>
  </ion-content>
  </ion-view>
