<ion-view view-title="Assistência Técnica">
  <ion-nav-bar class="bar-stable">
  <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true">
    <div class="row bloco-home bloco-inicial">
      <img class="title_melhorias" src="img/titulo_melhorias.png">
    </div>
    <h2 class='melhorias_title red_title' onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais#programa', '_system');">
      o que é o programa?
    </h2>
    <h2 class='melhorias_title orange_title' onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais#participar', '_system');">
      quem pode participar?
    </h2>
    <h2 class='melhorias_title yellow_title' onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais#feito', '_system');">
      o que pode ser feito?
    </h2>
    <h2 class='melhorias_title blue_title' ui-sref="tabs.assistencia-etapas">
      entenda as etapas
    </h2>
    <h2 class='melhorias_title green_title' ui-sref="tabs.assistencia-form">
      pré-cadastro
    </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
</ion-view>
