<ion-view>
  <ion-nav-buttons class="bar bar-header homereader">
    <div class="h1 title">Assistência Técnica</div>
  </ion-nav-buttons>
  <ion-content scroll="true">
    <div class="row bloco-home bloco-inicial">
      <img class="title_melhorias" src="img/titulo_melhorias.png">
    </div>
    <h2 class='melhorias_title red_title' onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais#programa', '_system');">
      o que é o programa?
    </h2>
    <h2 class='melhorias_title orange_title' onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais#participar', '_system');">
      quem pode participar?
    </h2>
    <h2 class='melhorias_title yellow_title' onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais#feito', '_system');">
      o que pode ser feito?
    </h2>
    <h2 class='melhorias_title blue_title' ui-sref="tabs.assistencia-etapas">
      entenda as etapas
    </h2>
    <h2 class='melhorias_title green_title' onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br', '_system');">
      pré-cadastro
    </h2>
  </ion-content>
</ion-view>
