<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">{{posto.nome}}</div>
  </ion-nav-buttons>
  <ion-content scroll="true" class="fontsx" >
    <div class="fundo-single">
      <div class="mask-single"></div>
      <img src="img/fundo.jpg" />
    </div>
    <div class="">
      <img class="avatar-coord"src="img/ionic.png" />
      <div class="avatar-nome avatar-info">{{posto.coordenador}}</div>
      <div class="avatar-cargo avatar-info">Coordenador(a)</div>
      <div class="bloco-avatar">
        <div class="avatar-info avatar-data"><i class="ion-ios-location positive"></i>  {{posto.endereco}}</div>
        <div class="avatar-info avatar-data"><i class="ion-ios-clock positive"></i>  {{posto.hora}}</div>
        <div class="avatar-info avatar-data"><i class="ion-ios-email positive"></i>  {{posto.email}}</div>
        <!-- <div class="avatar-info avatar-data"><i class="ion-ios-telephone positive"></i>  {{posto.tel}}</div> -->
      </div>
    </div>
    <a class="button button-balanced button-avatar" href="tel:{{posto.tel}}">
      <i class="ion-ios-telephone"></i>
      Ligar
    </a>
    <a class="button button-positive button-avatar" href="mailto:{{posto.email}}">
      <i class="ion-ios-email"></i>
      Enviar email
    </a>
    <div id="map" style="width:100%;height:100%;"data-tap-disabled="true"></div>
  </ion-content>
  </ion-view>
