
<ion-view>
  <ion-content scroll="true">
    <div class="row bloco-energized">
      <img src="img/codhab_branca.png" alt="" style="width: 100%;height: 30%;" />
    </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab linkmaluco" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br', '_system');">
          <span class="btn-codhab-icon ion-monitor" style="margin: 19px 0 0 3px;"></span>
        </button>
        <span class="btn-texto">PORTAL CODHAB</span>
      </div>
      <div class="col col-50">
          <a class="button btn-nav-codhab" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/acoesurbanas', '_system');">
              <span class="btn-codhab-icon ion-paintbrush" style="margin: 19px 0 0 3px;"></span>
          </a>
          <span class="btn-texto">AÇÕES URBANAS</span>
      </div>
      </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <a class="button btn-nav-codhab" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/pagina/30', '_system');">
          <span class="btn-codhab-icon ion-person-stalker" style="margin: 17px 0 0 3px;"></span>
        </a>
        <span class="btn-texto">MOBILIZAÇÃO SOCIAL</span>
      </div>
      <div class="col col-50">
          <a class="button btn-nav-codhab" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/habitabrasilia', '_system');">
              <span class="btn-codhab-icon ion-home" style="margin: 16px 0 0 2px;"></span>
          </a>
          <span class="btn-texto">HABITA BRASÍLIA</span>
      </div>
    </div>
    </div>


  </ion-content>
</ion-view>
