
<ion-view>
  <ion-content scroll="true">
    <div class="row bloco-energized">
      <img src="img/codhab_branca.png" alt="" style="width: 100%;height: 30%;" />
    </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.portal_codhab">
          <span class="btn-codhab-icon ion-monitor" style="margin: 5px 0 0 3px;"></span>
        </button>
        <span class="btn-texto">PORTAL CODHAB</span>
      </div>
      <div class="col col-50">
          <button class="button btn-nav-codhab" ui-sref="app.portal_acoes">
              <span class="btn-codhab-icon ion-paintbrush" style="margin: 5px 0 0 3px;"></span>
          </button>
          <span class="btn-texto">AÇÕES URBANAS</span>
      </div>
      </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="app.portal_mobi">
          <span class="btn-codhab-icon ion-person-stalker" style="margin: 5px 0 0 3px;"></span>
        </button>
        <span class="btn-texto">MOBILIZAÇÃO SOCIAL</span>
      </div>
      <div class="col col-50">
          <button class="button btn-nav-codhab" ui-sref="app.portal_habita">
              <span class="btn-codhab-icon ion-home" style="margin: 6px 0 0 2px;"></span>
          </button>
          <span class="btn-texto">HABITA BRASÍLIA</span>
      </div>
    </div>
    </div>

  </ion-content>

</ion-view>
