<ion-view view-title="Portal">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" >

    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br', '_system');">
          <i class="fa fa-desktop" aria-hidden="true"></i>
        </button>
        <span class="btn-texto">PORTAL CODHAB</span>
      </div>
      <div class="col col-50">
          <button class="button btn-nav-codhab" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/acoesurbanas', '_system');">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </button>
          <span class="btn-texto">AÇÕES URBANAS</span>
      </div>
    </div>
    <div class="row bloco-home bloco-inicial">
      <div class="col col-50">
        <button class="button btn-nav-codhab" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/pagina/30', '_system');">
          <i class="fa fa-user" aria-hidden="true"></i>
        </button>
        <span class="btn-texto">MOBILIZAÇÃO SOCIAL</span>
      </div>
      <div class="col col-50">
          <button class="button btn-nav-codhab" onclick="cordova.InAppBrowser.open('http://www.codhab.df.gov.br/habitabrasilia', '_system');">
            <i class="fa fa-home" aria-hidden="true"></i>
          </button>
          <span class="btn-texto">HABITA BRASÍLIA</span>
      </div>
    </div>


  </ion-content>
</ion-view>
