<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Habitação</div>
  </ion-nav-buttons>
  <ion-content scroll="true" >
    <div class="row">
      <img src="img/codhab.png" alt="" style="width: 100%;height: 30%;"/>
    </div>
    <div class="row">
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="app.oquehabitacao">
            <span class="btn-codhab-icon ion-ios-help-outline "></span>
            <span>O que é?</span>
          </button>
        </div>
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="app.listahabitacao">
            <span class="btn-codhab-icon ion-ios-list-outline "></span>
            <span>Pesquisar</span>
          </button>
        </div>
    </div>
   </ion-content>

</ion-view>
