<ion-view view-title="Habitação">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" >
    <div class="row bloco-home bloco-inicial">
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="tabs.oquehabitacao">
            <span class="btn-codhab-icon ion-ios-help-outline "></span>
          </button>
            <span class="btn-texto">O QUE É?</span>
        </div>
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="tabs.listahabitacao">
            <span class="btn-codhab-icon ion-ios-list-outline "></span>
          </button>
            <span class="btn-texto">PESQUISAR</span>
        </div>
    </div>
    <div class="row bloco-home">
      <div class="col col-50">
        <button class="button btn-nav-codhab" ui-sref="tabs.entidades">
          <span class="btn-codhab-icon ion-ios-people-outline"></span>
        </button>
        <span class="btn-texto">ENTIDADES</span>
      </div>
    </div>
  </ion-content>
</ion-view>
