<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Pesquisar</div>
  </ion-nav-buttons>
  <ion-content scroll="true">
    <form name="createForm" novalidate="novalidate" ng-submit="searchCPF(search)">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="CPF somente números" name="search" id="search" ng-model="search.cpf" ng-required="true" required maxlength="11">
        </label>
        <button ng-show="!createForm.$error.required" ng-click="searchCPF(search)" style="font-weight:400" class="button button-energized button-small">
          PESQUISAR
        </button>
      </div>
    </form>
    <ion-list ng-show="result.basic_information.cpf">
      <div class="item item-divider">
        Dados Pessoais
      </div>
      <div class="item">
        <strong>Nome: </strong>{{result.basic_information.name}}<br/>
      </div>
      <div class="item">
        <strong>Estado Civil: </strong>{{result.basic_information.civil_state}}<br/>
      </div>
      <div class="item">
        <strong>Chegada no DF: </strong>{{result.basic_information.arrival_df | date:"dd/MM/yyyy" }}<br/>
      </div>
      <div class="item">
        <strong>Nascido em: </strong>{{result.basic_information.born}}<br/>
      </div>
      <div class="item">
        <strong>Idoso: </strong><span class="badge badge-positive badge_search">{{result.olds}}</span><br/>
      </div>
      <div class="item">
        <strong>Condição Especial: </strong><span class="badge badge-positive badge_search">{{result.basic_information.special_condition}}</span><br/>
      </div>
      <div class="item">
        <strong>CID: </strong>{{result.basic_information.cid}}<br/>
      </div>
      <div class="item">
        <strong>NIS: </strong>{{result.basic_information.nis}}<br/>
      </div>
    </ion-list>
    <ion-list ng-show="result.basic_information.cpf">
      <div class="item item-divider">
        Indicado ao empreendimento
      </div>
      <div ng-show="!!!result.enterprise_cadastre.length">
        <div class="item">
          Sem Indicação à Empreendimento
        </div>
      </div>
      <div class="item" ng-repeat="i in result.enterprise_cadastre">
        <strong>Empreendimento: </strong>{{i.enterprise_name}}<br />
        <div ng-if="i.inactive === false || i.inactive === 'empty'">
          <div><strong>Situação: </strong>Indicação Ativa</div>
        </div>
        <div ng-if="i.inactive === true">
          <div><strong>Situação: </strong>Indicação Inativa</div><br/>
        </div>
      </div>
      <div class="item item-divider">
        Situação do Candidato
      </div>
      <div class="item" ng-repeat="i in result.lists">
          <strong>Lista: </strong>{{i.name}}<br/>
        <div ng-if="i.position != null">
          <strong>Posição: </strong>{{i.position}}<br/>
        </div>
        <strong>Pontuação: </strong>{{result.pontuations[0].total}}<br/>
        <strong>Faixa de renda: </strong>Faixa {{i.zone}}<br/>
        <span class="badge_indication {{result.situations[0].name == 'HABILITADO' ? 'indication-balanced' : 'indication-energized'}}">
          <strong>{{result.situations[0].name}}</strong>
        </span>
        <br/>
    </div>
    </ion-list>


    <!-- <ion-list ng-show="result.basic_information.cpf">
      <div class="item item-divider">
        Situação do Candidato
      </div>
      <div ng-hide="results.lists">
        <h5 style="text-align:center;"> Calculando... </h5>
          <img src="img/ripple.gif"  style="display:block; margin:0 auto;"/>
      </div>
        <div class="item" ng-repeat="i in results.lists">
          <div ng-if="i.lists.name">
            <strong>Lista: </strong>{{i.lists.name}}<br/>
          </div>
          <div ng-if="i.lists.position != null">
            <strong>Posição: </strong>{{i.lists.position}}<br/>
          </div>
          <strong>Pontuação: </strong>{{i.pontuation}}<br/>
          <strong>Faixa de renda: </strong>Faixa {{i.zone}}<br/>
          <span class="badge_indication {{i.situation_status == 'ok' ? 'indication-balanced' : 'indication-energized'}}">
            <strong>{{i.situation}}</strong>
          </span>
          <br/>
      </div>
    </ion-list> -->
    <div ng-hide="result.basic_information.cpf" class="logo_interna_search">
      <div ng-hide="verify">
        <img src="img/search.png" style="width:50%; margin: 0 auto; display:block;margin-bottom: 20px;" />
        <p class="texto_interno_search marginz">
          Preencha com um CPF válido e cadastrado na CODHAB.
        </p>
        <p class="texto_interno_search marginz">
          Os dados estão disponíveis para consulta pública.
        </p>
      </div>
    </div>
    <div ng-show="verify" class="logo_interna_search">
      <img src="img/warning.png" style="width:50%; margin: 0 auto; display:block;margin-bottom: 20px;" />
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Os seguintes erros podem ter ocorrido:
      </p>
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Você está sem conexão, ou o CPF inserido está incorreto.
      </p>
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Por Favor verifique o CPF inserido, ou sua conexão.
      </p>
    </div>

  </ion-content>
  <ion-footer-bar >

<ion-tabs  class="tabs-icon-top tabs-codhab ">

<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.home">
  <!-- Tab 1 content -->
</ion-tab>

<ion-tab title="notícias" icon-on="ion-ios-world-outline" icon-off="ion-ios-world-outline" ui-sref="tabs.noticias">
  <!-- Tab 2 content -->
</ion-tab>

<ion-tab title="Leitor Qr Code" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ui-sref="tabs.scan">
  <!-- Tab 2 content -->
</ion-tab>

<ion-tab title="Atualização Cadastral" icon-on="ion-ios-loop" icon-off="ion-ios-loop" ui-sref="tabs.cadastro">
  <!-- Tab 3 content -->
</ion-tab>

</ion-tabs>
</ion-footer-bar>
</ion-view>
