
<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Leitor Qr Code</div>
  </ion-nav-buttons>
  <ion-content class="padding" >
    <h2 class="padding btn-tit-cam btn-text-int">Instruções</h2>
    <p class="btn-text-int"> 1. Para melhor funcionamento do leitor, verifique se a lente do seu dispositivo está limpa. </p></br>
    <p class="btn-text-int"> 2. posicione a câmera de uma forma que consiga ver o codigo legível.</p></br>
    <img src="img/qrcode.png" style="width:180px; margin: 0 auto; display:block;margin-bottom: 20px;" /></br>
    <button class="btn-buttom-cam button" ng-click="scanBarcode()" style="width:250px;height:45px;">
      <span class="btn-camera ion-ios-camera" ></span><p class="btn-text-cam">Faça a Leitura do Qr Code</p></button>



  </ion-content>
  <ion-footer-bar >

<ion-tabs  class="tabs-icon-top tabs-codhab ">

<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.home">
  <!-- Tab 1 content -->
</ion-tab>

<ion-tab title="notícias" icon-on="ion-ios-world-outline" icon-off="ion-ios-world-outline" ui-sref="tabs.noticias">
  <!-- Tab 2 content -->
</ion-tab>

<ion-tab title="Leitor Qr Code" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ui-sref="tabs.scan">
  <!-- Tab 2 content -->
</ion-tab>

<ion-tab title="Atualização Cadastral" icon-on="ion-ios-loop" icon-off="ion-ios-loop" ui-sref="tabs.cadastro">
  <!-- Tab 3 content -->
</ion-tab>

</ion-tabs>
</ion-footer-bar>

</ion-view>
