<ion-view>
          <ion-nav-buttons class="bar bar-header">
            <div class="h1 title">Regularização</div>
          </ion-nav-buttons>
          <ion-content scroll="true" >
            <div class="row">
              <img src="img/codhab.png" alt="" style="width: 100%;height: 30%;"/>
            </div>
            <div class="row">
                <div class="col col-50">
                  <button class="button btn-nav-codhab energized" ui-sref="app.oqueregularizacao">
                    <span class="btn-codhab-icon ion-ios-help-outline "></span>
                  </button>
                    <span class="btn-texto">O que é?</span>
                </div>
                <div class="col col-50">
                  <button class="button btn-nav-codhab energized" ui-sref="app.listaregularizacao">
                    <span class="btn-codhab-icon ion-ios-list-outline "></span>
                  </button>
                    <span class="btn-texto">Pesquisar CPF</span>
                </div>
            </div>
            <div class="row bloco-home">
              <div class="col col-50">
                <button class="button btn-nav-codhab energized" ui-sref="app.agendamentoregularizacao">
                  <span class="btn-codhab-icon ion-ios-clock-outline "></span>
                </button>
                  <span class="btn-texto">AGENDAMENTO</span>
              </div>
            </div>
           </ion-content>
        </ion-view>
