<ion-view view-title="Regularização">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" >
    <div class="row bloco-home bloco-inicial">
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="tabs.oqueregularizacao">
            <!-- <span class="btn-codhab-icon ion-ios-help-outline "></span> -->
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </button>
            <span class="btn-texto">O QUE É?</span>
        </div>
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="tabs.listaregularizacao">
            <!-- <span class="btn-codhab-icon ion-ios-list-outline "></span> -->
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </button>
            <span class="btn-texto">PESQUISAR CPF</span>
        </div>
    </div>

      </div>

    </div>
   </ion-content>
</ion-view>
