<!-- <ion-view view-title="Regularização">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true">
        <h2 style="text-align:center; margin-top:20px; padding:20px;color:#333;">Aguardando conexão.</h2>
        <img src="img/radio.gif" style="text-align:center; display:block; margin:0 auto;"/>
        <iframe
                 name="iframe_a"
                 id="iframea"
                 src="http://mobile.df.gov.br/candidate/search"
                 frameborder="0"
                 style=" overflow:hidden;
                         overflow-x:hidden;
                         overflow-y:hidden;
                         height:100%;
                         width:100%;
                         position:absolute;
                         top:0px;left:0px;right:0px;bottom:0px;
                         -ms-touch-action: none;"
                         height="100%" width="100%"
        ></iframe>

      </ion-content>
</ion-view> -->

<ion-view view-title="Regularização">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" class="margin30">
    <form name="createForm" novalidate="novalidate" ng-submit="searchCPF(search)">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="CPF somente números" name="search" id="search" ng-model="search.cpf" ng-required="true">
        </label>
        <button ng-show="!createForm.$error.required" ng-click="searchCPF(search)" style="font-weight:400" class="button button-energized button-small">
          PESQUISAR
        </button>
      </div>
    </form>
    <ion-list ng-show="result.basic_information.cpf">
      <div class="item item-divider">
        Dados Pessoais
      </div>
      <div class="item">
        <strong>Nome: </strong>{{result.basic_information.name}}<br/>
      </div>
      <div class="item">
        <strong>Estado Civil: </strong>{{result.basic_information.civil_state}}<br/>
      </div>
      <div class="item">
        <strong>Endereço: </strong>{{result.basic_information.address}} {{result.basic_information.address_complement}}<br/>
      </div>
      <div class="item">
        <strong>Chegada no DF: </strong>{{result.basic_information.arrival_df }}<br/>
      </div>
      <div class="item">
        <strong>Nascido em: </strong>{{result.basic_information.naturality ? result.basic_information.naturality : "Não informado"}}<br/>
      </div>
      <div class="item">
        <strong>Idoso: </strong><span class="badge badge-positive badge_search">{{result.olds}}</span><br/>
      </div>
      <div class="item">
        <strong>Condição Especial: </strong><span class="badge badge-positive badge_search">{{result.basic_information.special_condition}}</span><br/>
      </div>
      <div class="item">
        <strong>CID: </strong>{{result.basic_information.cid}}<br/>
      </div>
      <div class="item">
        <strong>NIS: </strong>{{result.basic_information.nis}}<br/>
      </div>
    </ion-list>
    <div ng-hide="result.basic_information.cpf" class="logo_interna_search">
      <div ng-hide="verify">
        <img src="img/search.png" style="width:50%; margin: 0 auto; display:block;margin-bottom: 20px;" />
        <p class="texto_interno_search marginz">
          Preencha com um CPF válido e cadastrado na CODHAB.
        </p>
        <p class="texto_interno_search marginz">
          Os dados estão disponíveis para consulta pública.
        </p>
      </div>
    </div>
    <div ng-show="verify" class="logo_interna_search">
      <img src="img/warning.png" style="width:50%; margin: 0 auto; display:block;margin-bottom: 20px;" />
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Os seguintes erros podem ter ocorrido:
      </p>
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Você está sem conexão, ou o CPF inserido está incorreto.
      </p>
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Por Favor verifique o CPF inserido, ou sua conexão.
      </p>
    </div>

  </ion-content>
</ion-view>
