<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Pesquisar</div>
  </ion-nav-buttons>
    <ion-content>
      <label class="item item-input">
        <span class="input-label">Pesquisar</span>
        <input type="text">
      </label>
      <ion-list>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>João Batista</h2>
          <p> teste </p>
          <i class="badge badge-assertive">Análise</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>Jesus Nazaré</h2>
          <p> teste </p>
          <i class="badge badge-balanced">Contemplado</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>Maria Vitalino</h2>
          <p> teste </p>
          <i class="badge badge-positive">Habilitado</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>Shirley Dantas</h2>
          <p> teste </p>
          <i class="badge badge-positive">Habilitado</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>Felicia Amorim</h2>
          <p> teste </p>
          <i class="badge badge-positive">Habilitado</i>
        </ion-item>

      </ion-list>
    </ion-content>
</ion-view>
