<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Pesquisar</div>
  </ion-nav-buttons>
  <ion-content scroll="true">
    <form name="createForm" novalidate="novalidate" ng-submit="searchCPF(search)">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="CPF somente números" name="search" id="search" ng-model="search.cpf" ng-required="true">
        </label>
        <button ng-click="searchCPF(search)" style="font-weight:400" class="button button-energized button-small">
          PESQUISAR
        </button>
      </div>
    </form>
    <ion-list ng-show="result.cpf">
      <div class="item item-divider">
        Dados Pessoais
      </div>
      <div class="item">
        <strong>Nome: </strong>{{result.name}}<br/>
      </div>
      <div class="item">
        <strong>Estado Civil: </strong>{{result.civil_state_id}}<br/>
      </div>
      <div class="item">
        <strong>Endereço: </strong>{{result.address}} {{result.address_complement}}<br/>
      </div>
      <div class="item">
        <strong>Chegada no DF: </strong>{{result.arrival_df | date:"dd/MM/yyyy" }}<br/>
      </div>
      <div class="item">
        <strong>Nascido em: </strong>{{result.born_uf}}<br/>
      </div>
      <div class="item">
        <strong>Idoso: </strong><span class="badge badge-positive badge_search">{{result.olds}}</span><br/>
      </div>
      <div class="item">
        <strong>Condição Especial: </strong><span class="badge badge-positive badge_search">{{result.special_condition_id}}</span><br/>
      </div>
      <div class="item">
        <strong>CID: </strong>{{result.cid ? "Possui" : "Não Informado"}}<br/>
      </div>
      <div class="item">
        <strong>NIS: </strong>{{result.nis ? "Possui" : "Não Informado"}}<br/>
      </div>
    </ion-list>
    <div ng-hide="result.cpf" class="logo_interna_search">
      <div ng-hide="verify">
        <img src="img/search.png" style="width:50%; margin: 0 auto; display:block;margin-bottom: 20px;" />
        <p class="texto_interno_search marginz">
          Preencha com um CPF válido e cadastrado na CODHAB.
        </p>
        <p class="texto_interno_search marginz">
          Os dados estão disponíveis para consulta pública.
        </p>
      </div>
    </div>
    <div ng-show="verify" class="logo_interna_search">
      <img src="img/warning.png" style="width:50%; margin: 0 auto; display:block;margin-bottom: 20px;" />
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Os seguintes erros podem ter ocorrido:
      </p>
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Você está sem conexão, ou o CPF inserido está incorreto.
      </p>
      <p class="texto_interno_search marginz" style="color:#ff0000; margin-bottom: 10px;">
        Por Favor verifique o CPF inserido, ou sua conexão.
      </p>
    </div>
  </ion-content>
</ion-view>
