<ion-view view-title="Regularização">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="true" padding="true" class="color_txt bloco-inicial">
          </br>
          <h1 class="post_title">
          Conheça o Programa
          </h1>
          <p class="post-post">
            O objetivo da regularização é auxiliar o processo de entregas de escrituras para as pessoas que moram em cidades já consolidadas, mas que ainda não têm o documento legítimo do imóvel. O que é escritura? A escritura é um documento elaborado em cartório, que garante ao morador a segurança jurídica da propriedade de determinado imó- vel. Atenção A CODHAB informa que novas solicitações de regularização estão suspensas. Pelo decreto 34.210/2012, art.3º, a data de apresentação do requerimento expirou em até 31 de dezembro de 2013, o que impede a abertura de novos processos de regularização. Portanto, somente este item está em processo de reformulação pela CODHAB para que novos requerimentos possam ser solicitados.
            Quanto às regularizações em andamento na CODHAB, qualquer morador poderá solicitar a inclusão de documentos aos processos, mesmo que a área habitada não esteja com projeto urbanístico aprovado.
          </p>

          <ion-list>
          </br>
              <br><strong></strong></p>

                <ion-item ng-repeat="item in items" class="item item-faq item-text-wrap">
                  <div ng-click="toggleItem(item)" class="item-expand-footer">
                    <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
                    <b>{{item.title}}</b>
                  </div>
                  <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                    <h4 style="text-align: justify;"></strong></h4>
                    <p>{{item.text}}</p>
                  </div>

                </ion-item>

            </ion-list>
          </br>
        </br>


  

    </ion-content>
</ion-view>
